# Carga de datos a través de la función read_csv

In [4]:
%config IPCompleter.greedy=True

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("../datasets/titanic/titanic3.csv")

In [7]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Ejemplos de los parámetros de la función read_csv

```python
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None)
read.csv(filepath, sep(por defecto la coma)=",", dtype={"a":np.float64, "b":np.int32}) '''Columna a y columna b'''
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None) '''Header, los csv suelen tener en la primera fila la cabecera con el nombre de las columnas, especificando header=0, coge la primera fila como cabecera) '''
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None, names=None) '''names: para nombrar las columnas, en caso de que no lo tengan o estén malnombradas, etc '''
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None, names=None, skiprows=None) '''skiprows, None o un valor entero (o una lista), si skiprows=12, se saltaría las 12 primeras filas '''
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None, names=None, skiprows=None, index_col=None) 'index_col, por defecto None, permite etiquetar las filas'
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None, names=None, skiprows=None, index_col=None, skip_blank_lines=True) 'skip_blank_lines, si True, se salta las filas o valores en blanco, por defecto False'
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None, names=None, skiprows=None, index_col=None, skip_blank_lines=True, na_filter=False) 'na_filter, elimina toda la fila de algo que es nulo o indefinido si su valor es True, por defecto False'
```