# Agregación de datos por categoría

In [1]:
import numpy as np
import pandas as pd

In [2]:
gender = ["Male", "Female"]
income_cat = ["Poor", "Middle Class", "Rich"]

In [3]:
n = 500 # tamaño del dataset
gender_data = []
income_data = []

for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [8]:
gender_data[1:10]

['Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female']

In [9]:
income_data[1:10]

['Poor',
 'Middle Class',
 'Middle Class',
 'Rich',
 'Rich',
 'Poor',
 'Rich',
 'Rich',
 'Poor']

In [10]:
# Z -> N(0,1)
# N(m,s) -> m+s * Z
height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.rand(n)

In [13]:
data = pd.DataFrame(
    {
        "Gender": gender_data,
        "Economic Status": income_data,
        "Height": height,
        "Weight": weight,
        "Age": age,
        "Income": income
    }
)

In [14]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0  Female            Rich  179.514357  38.354575  27.422894  18022.267671
1    Male            Poor  165.160125  61.653524  22.039982  18735.300358
2    Male    Middle Class  139.498120  71.300819  32.608946  20930.767807
3  Female    Middle Class   99.420220  80.412329  33.453004  19765.483997
4    Male            Rich  169.419939  87.317100  34.737537  21200.731805

## Agrupación de datos

In [16]:
grouped_gender = data.groupby("Gender")

In [17]:
grouped_gender.groups

{'Female': Int64Index([  0,   3,   6,   7,   8,   9,  13,  14,  17,  19,
             ...
             481, 482, 486, 487, 489, 490, 492, 493, 494, 497],
            dtype='int64', length=240),
 'Male': Int64Index([  1,   2,   4,   5,  10,  11,  12,  15,  16,  18,
             ...
             480, 483, 484, 485, 488, 491, 495, 496, 498, 499],
            dtype='int64', length=260)}

In [18]:
for names, groups in grouped_gender:
    print(names)
    print(groups)

Female
     Gender Economic Status      Height     Weight        Age        Income
0    Female            Rich  179.514357  38.354575  27.422894  18022.267671
3    Female    Middle Class   99.420220  80.412329  33.453004  19765.483997
6    Female            Poor  150.385814  18.179467  41.676108  20086.475976
7    Female            Rich  138.988165  16.344850  44.666182  20046.596771
8    Female            Rich  177.102401  66.615389  15.713560  18406.251472
..      ...             ...         ...        ...        ...           ...
490  Female    Middle Class  137.985144  37.333559  34.927860  20037.299792
492  Female    Middle Class  118.343957  53.336781  13.199206  20552.161183
493  Female            Rich  195.296411  21.848592  35.430546  21414.141753
494  Female            Rich  174.999901  56.001101  54.427746  18089.602089
497  Female            Rich  183.990852  63.617646  46.218600  19053.392233

[240 rows x 6 columns]
Male
    Gender Economic Status      Height     Weight        Age        Income
1     Male            Poor  165.160125  61.653524  22.039982  18735.300358
2     Male    Middle Class  139.498120  71.300819  32.608946  20930.767807
4     Male            Rich  169.419939  87.317100  34.737537  21200.731805
5     Male            Rich  118.619593  42.892326  16.160080  18257.062652
10    Male            Rich  113.685971  64.085650  17.367871  20731.501335
..     ...             ...         ...        ...        ...           ...
491   Male            Rich  180.341639  87.075143  29.402407  20816.519081
495   Male    Middle Class  159.122530  58.377588  20.595510  21270.173171
496   Male    Middle Class  187.549657  44.861979  32.025641  21403.600864
498   Male            Poor  163.318747  64.147366  30.473864  20534.460340
499   Male            Poor  174.558787  37.890017  16.171426  19839.530553

[260 rows x 6 columns]

In [19]:
grouped_gender.get_group("Female") ## Genera un dataframe

    Economic Status      Height     Weight        Age        Income
0              Rich  179.514357  38.354575  27.422894  18022.267671
3      Middle Class   99.420220  80.412329  33.453004  19765.483997
6              Poor  150.385814  18.179467  41.676108  20086.475976
7              Rich  138.988165  16.344850  44.666182  20046.596771
8              Rich  177.102401  66.615389  15.713560  18406.251472
..              ...         ...        ...        ...           ...
490    Middle Class  137.985144  37.333559  34.927860  20037.299792
492    Middle Class  118.343957  53.336781  13.199206  20552.161183
493            Rich  195.296411  21.848592  35.430546  21414.141753
494            Rich  174.999901  56.001101  54.427746  18089.602089
497            Rich  183.990852  63.617646  46.218600  19053.392233

[240 rows x 5 columns]

In [20]:
# Agrupación por más de una categoría
double_group = data.groupby(["Gender", "Economic Status"])

In [21]:
len(double_group)

6

In [22]:
for names, groups in double_group:
    print(names)
    print(groups)

('Female', 'Middle Class')
     Gender Economic Status      Height      Weight        Age        Income
3    Female    Middle Class   99.420220   80.412329  33.453004  19765.483997
13   Female    Middle Class  100.645969   49.521381  15.869042  19131.794528
17   Female    Middle Class  165.582249   80.891896  35.645506  19481.166842
20   Female    Middle Class  169.666871   68.661432  39.818922  19496.101575
30   Female    Middle Class  137.155883   81.534657  16.990878  20311.026305
..      ...             ...         ...         ...        ...           ...
457  Female    Middle Class  164.989934   55.524088  44.926800  18765.400769
461  Female    Middle Class  160.925867   77.231771  14.698483  20332.073688
482  Female    Middle Class  158.687032  104.144953  21.400851  19550.695702
490  Female    Middle Class  137.985144   37.333559  34.927860  20037.299792
492  Female    Middle Class  118.343957   53.336781  13.199206  20552.161183

[77 rows x 6 columns]
('Female', 'Poor')
     Gender Economic Status      Height     Weight        Age        Income
6    Female            Poor  150.385814  18.179467  41.676108  20086.475976
9    Female            Poor  125.061537  61.527580  33.865046  18490.033464
14   Female            Poor  161.398784  53.734784  25.332856  20770.289594
19   Female            Poor  169.402009  75.918543  37.349306  21459.198589
24   Female            Poor  149.311660  86.791252  46.730161  20829.034404
..      ...             ...         ...        ...        ...           ...
466  Female            Poor  212.460375  55.096539  37.902353  20955.150276
469  Female            Poor  182.410641  55.542857  48.696721  20320.243925
471  Female            Poor  119.476499  71.668355  28.932860  18913.300950
472  Female            Poor  217.527317  64.440457  23.192766  20390.273546
476  Female            Poor  128.550534  50.676361  32.427030  18611.266861

[68 rows x 6 columns]
('Female', 'Rich')
     Gender Economic Status      Height     Weight        Age        Income
0    Female            Rich  179.514357  38.354575  27.422894  18022.267671
7    Female            Rich  138.988165  16.344850  44.666182  20046.596771
8    Female            Rich  177.102401  66.615389  15.713560  18406.251472
29   Female            Rich  178.824174  59.414094  21.458014  20051.284971
35   Female            Rich  163.607952  83.066109  25.657331  20616.243065
..      ...             ...         ...        ...        ...           ...
487  Female            Rich  168.947790  34.086522  40.738928  21122.366493
489  Female            Rich  161.843292  63.569770  -3.950113  18397.922315
493  Female            Rich  195.296411  21.848592  35.430546  21414.141753
494  Female            Rich  174.999901  56.001101  54.427746  18089.602089
497  Female            Rich  183.990852  63.617646  46.218600  19053.392233

[95 rows x 6 columns]
('Male', 'Middle Class')
    Gender Economic Status      Height      Weight        Age        Income
2     Male    Middle Class  139.498120   71.300819  32.608946  20930.767807
12    Male    Middle Class  193.174561   67.026603  27.625540  21339.121982
15    Male    Middle Class  134.400225  110.613053  11.518262  21472.029031
22    Male    Middle Class  138.066740   64.931500  49.522970  18562.390264
26    Male    Middle Class  191.498822    3.345398   3.344799  19986.065149
..     ...             ...         ...         ...        ...           ...
480   Male    Middle Class  120.432464   62.361406  20.562633  21061.249101
484   Male    Middle Class  207.882828   53.486593  22.650571  18404.170877
485   Male    Middle Class  134.910611  137.715987  24.590110  19471.726278
495   Male    Middle Class  159.122530   58.377588  20.595510  21270.173171
496   Male    Middle Class  187.549657   44.861979  32.025641  21403.600864

[92 rows x 6 columns]
('Male', 'Poor')
    Gender Economic Status      Height     Weight        Age        Income
1     Male            Poor  165.160125  61.653524  22.039982  18735.300358
16    Male            Poor  146.351905  63.382279  25.224991  19081.348560
23    Male            Poor  145.458693  71.313136  33.697602  21451.006965
38    Male            Poor  121.694099  77.543417  50.657587  20142.900949
47    Male            Poor  172.474655  58.927005  35.197896  21202.776697
..     ...             ...         ...        ...        ...           ...
453   Male            Poor  133.674247  16.913319  34.707495  20177.641594
464   Male            Poor  148.893708  46.930005  21.361935  19740.891940
477   Male            Poor  143.957210  53.076467  17.711129  19295.874366
498   Male            Poor  163.318747  64.147366  30.473864  20534.460340
499   Male            Poor  174.558787  37.890017  16.171426  19839.530553

[86 rows x 6 columns]
('Male', 'Rich')
    Gender Economic Status      Height     Weight        Age        Income
4     Male            Rich  169.419939  87.317100  34.737537  21200.731805
5     Male            Rich  118.619593  42.892326  16.160080  18257.062652
10    Male            Rich  113.685971  64.085650  17.367871  20731.501335
11    Male            Rich  229.881434  56.883389  19.798293  19720.919431
18    Male            Rich  182.482403  79.129798  16.198166  19778.895072
..     ...             ...         ...        ...        ...           ...
470   Male            Rich  112.677314  73.407670  45.769097  20695.710269
479   Male            Rich  132.120226  31.588176  24.718956  18328.707179
483   Male            Rich   95.315867  53.859855  22.516733  19832.498025
488   Male            Rich  146.108319  61.609640  18.657487  21281.841552
491   Male            Rich  180.341639  87.075143  29.402407  20816.519081

[82 rows x 6 columns]